<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_app/css/add.css' %}">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">      
    <title>Add Book and Review</title>
</head>
<body>
    <div class="header">
        <h2>EZReviewer <i class="fa fa-star-half-o" aria-hidden="true"></i></h2>
        <h1>Add New Book & Review</h1>
        <div class="nav" id="nav">
            <p><a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></p>
            <p><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></p>
        </div>
    </div>
    
    <div class="form_content">
        <form action="/books/add" method="POST"> {% csrf_token %}
            
            <div class="left_content">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h5>Book Title </h5>
                <input type="text" name="title">
                <h5>Published Date </h5>
                <input type="date" name="date">
                <h5>Author </h5>
                <p><input type="text" name="new_author"></p>
                
            </div>
            <div class="right_content">
            <h5>Review </h5>
            <textarea name="review" cols="30" rows="8"></textarea>
            <h5>Rating
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select> 
                stars.
            </h5>
            <input id="button" type="submit" value="Add Book and Review">
        </div>
        </form>
    
</div>
</body>
</html>